fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
websockets
python-dotenv
sqlalchemy
pymysql
bcrypt
python-jose[cryptography]
pymongo
pandas
telethon
fpdf
aiohttp
requests
OTXv2
pymisp
spacy
PyYAML
reportlab
openai
